.header {
  margin-bottom: 100px;
}

.header .header-1 {
  position: fixed;
  background: #fff;
  width: 100%;
  padding: 20px;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#searchQuery {
  margin-left: 50px;
  margin-right: 50px;
  height: 40px;
  width: 300px;
  padding: 10px;
  border-radius: 1.5rem;
  border: 2px solid black;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo i {
  font-size: 28px;
}

.logo i span {
  font-size: 1.7rem;
  font-weight: 600;
}

.card {
  border: 2px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.card img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

#sumbit-button {
  border-radius: 1.5rem;
  padding: 10px;
  width: auto;
  border: 2px solid black;
}

/* #resultDiv {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */

#resultDiv {
  display: grid; /* Change display property to grid */
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Create a grid with columns that adjust to the available space */
  gap: 20px; /* Add some gap between grid items */
  justify-items: center; /* Center items horizontally within the grid */
}

.social-links a {
  font-size: 25px;
}
